<div class="why-voltway">
  <p class="subheading">WHY VOLTWAY</p>
  <h2>FIND YOUR NEAREST EV CHARGING STATION</h2>

  <div class="features">
    <div class="feature-box">
      <h3>Fast and Easy Search</h3>
      <p>Quickly <span class="highlight">Locate Charging Stations</span> by entering your location or destination.Find the
       nearest available stations with just a few clicks.</p>
    </div>
    
    <div class="feature-box">
      <h3>Comprehensive Database</h3>
      <p>Access a global network of <span class="highlight">over 60,000</span> charging stations 
      ,Ensuring you always have a reliable charging point when needed.</p>
    </div>
    
    <div class="feature-box">
      <h3>Real-Time Availability</h3>
      <p>Stay informed with <span class="highlight">live updates</span> on station availability,
      Allowling you to see if charging spots are free or occupied. </p>
    </div>

    <div class="feature-box">
      <h3>Multi-Connector Compatibility</h3>
      <p>Find stations that support <span class="highlight">multiple charging connectors</span>, including CCS,Chardemo, And Type 2, for Diverse electric 
      vehlcle models. </p>
    </div>
  </div>
</div>

